<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <header class="masthead">
      <%= render 'layouts/header' %>
    </header>
    <div class="container">
      <br>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <div class="row">
        <div class="col-md-3">
          <% if user_signed_in? %>
            <%= render 'layouts/sideBar' %>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= yield %>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </body>
</html>
